<div class="slider">
    <div class="slides">
        <div class="slide">
            <img src="../../Static/IMG/ny.jpg" alt="NY">
        </div>
        <div class="slide">
            <img src="../../Static/IMG/london.jpg" alt="London">
        </div>
        <div class="slide">
            <img src="../../Static/IMG/spb.jpg" alt="SPb">
        </div>
    </div>
    <button class="navigation" id="btn-left" onclick="moveSlide(-1)">&#10094</button>
    <button class="navigation" id="btn-right" onclick="moveSlide(1)">&#10095</button>
</div>