<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script>
        let userName = prompt("Пожалуйста, введите ваше имя");
        alert(`Приветствуем, ${userName}. В вашем имени ${userName.length} символов`)
    </script>
</head>
  
   <header id="header-index">
       <h1>Testing</h1>
       <p></p>
       <input type="text" oninput="
        /* Обработчик ввода текста */
           " size=50%>
   </header> 
   <!--SIDEBAR-->
   <body></body>
   <!--FOOTER-->
 
</html>